

nav {
  position: relative;
  height: 30px;
  background: white;
  max-width: 100%;
  font-size: 13px;
  font-family: font-family: 'Raleway', sans-serif;
}

.logo {
  position: relative;
  top: 7px;
  padding-left: 10px;
  padding-right: 28px;
  color: gray;
}

.Home{
  position: relative;
  top: 7px;
  padding-right: 28px;
  color: gray;
}

.Pricing {
  position: relative;
  top: 7px;
  padding-right: 28px;
}

.Contact {
  position: relative;
  top: 7px;
  padding-right: 28px;
  color: gray;
}

.container img{
  height: 350px;
  width: 100%;
}




.Simple {
  position: relative;
  top: -275px;
  left: 500px;
  color: white;
  font-family: font-family: 'Roboto', sans-serif;
  font-size: 40px;
  text-shadow: 1px 1px 2px black;

}

.simple p {
  position: relative;
  line-height: 10px;
  text-align: center;
  right: 500px;
  max-width: 100%;
}
.three-boxes {
  display: table;
  text-align: center;
  margin: auto;
  bottom: 100px;
  position: relative;
}

.green-box {
background: #60932E;
height: 175px;
width: 250px;
position: relative;
display: table-cell;
right: 15px;
}

.green-box ul{
  padding: 0;
}
li.p{

  width: 100%;
  font-size: 13px;
  color: white;
  letter-spacing: 3px;
  padding-top: 25px;

}

li.money{
  text-align: center;
  width: 100%;
  font-size: 80px;
  color: white;
  font-family: 'Noto Sans', sans-serif;
}

li.Per{
  text-align: center;
  width: 100%;
  color: white;
  opacity: .5;
}

.blue-box {
background: #28517A;
height: 175px;
width: 250px;
display: table-cell;
}

.blue-box ul{
  padding-left: 0px;
}

.black-box {
background: black;
height: 175px;
width: 250px;
display: table-cell;
left: 15px;
position: relative;
}

.black-box ul{
  padding-left: 0px;
}

.info-column {
text-align: center;
display: table;
margin: auto;
position: relative;
bottom: 100px;
right: 7px;
font-size: 14px;
}

.Free1 {
display: table-cell;
border-style: solid;
border-color: white;
position: relative;
padding: 0;
border-color: #EDEDED;
}



.Free1 li{
  border-bottom: 1px;
  border-width: .5px;
  border-color: gray;
  border-style: solid;
  width: 250px;
  height: 25px;
  background-color: #F7F7F7;
  color: 48575E;
  padding-top: 12px;
}

.Free2 {
  display: table-cell;
  border-style: solid;
  border-color: white;
  position: relative;
  padding: 0;
  left: 8px;


}

.Free2 li {
  border-bottom: 1px;
  border-width: .5px;
  border-color: gray;
  border-style: solid;
  width: 250px;
  height: 25px;
  padding-top: 12px;
  background-color: #F7F7F7;
  color: 48575E;
}

.Free3 {
  display: table-cell;
  border-style: solid;
  border-color: white;
  position: relative;
  padding: 0;
  left: 15px;
}

.Free3 li {
  border-bottom: 1px;
  border-width: .5px;
  border-color: gray;
  border-style: solid;
  width: 250px;
  height: 25px;
  padding-top: 12px;
  background-color: #F7F7F7;
  color: 48575E;
}

.choose-boxes{
  display: table;
  position: relative;
  bottom: 103px;
  left: 247.5px;
}

.choose-box1{
  display: table-cell;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  height: 75px;
  width: 250px;
}

.choose1 {
  position: relative;
  top: 37%;
  left: 37%;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  border-color: #DADADA;
  padding: 5px 12px 5px 12px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  font-size: 14px;
  color: #3F3F3F;
  font-weight: bold;
  }

.choose-box2 {
  display: table-cell;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  height: 75px;
  width: 250px;
  position: relative;
  left: 15px;
}

.choose2 {
  position: relative;
  top: 37%;
  left: 37%;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  border-color: #DADADA;
  padding: 5px 12px 5px 12px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  font-size: 14px;
  color: #3F3F3F;
  font-weight: bold;
  }

.choose-box3 {
  display: table-cell;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  height: 75px;
  width: 250px;
  position: relative;
  left: 30px;
}

.choose3 {
  position: relative;
  top: 37%;
  left: 37%;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  border-color: #DADADA;
  padding: 5px 12px 5px 12px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  font-size: 14px;
  color: #3F3F3F;
  font-weight: bold;
  }

.tables {
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  position: relative;
  top: -32px;
}

.first-head th {
  position: relative;
  bottom: 15px;
  text-align: left;
  word-spacing: 5px;
  letter-spacing: 5px;
  font-family: 'Raleway', sans-serif;

}

.first-body td {
  width: 350px;
  padding-right: 60px;
  font-size: 14px;
  color: #5F6B72;
  line-height: 23px;
  vertical-align: text-top;
}
.second-head th {
  position: relative;
  top: 35px;
  text-align: left;
  word-spacing: 5px;
  letter-spacing: 5px;
  font-family: 'Raleway', sans-serif;

}

.second-body td {
  position: relative;
  top: 53px;
  width: 350px;
  padding-right: 60px;
  font-size: 14px;
  color: #5F6B72;
  line-height: 23px;
  vertical-align: text-top;
}

footer {
  position: relative;
  top: 80px;
  background-color: black;
  height: 60px;
}

.footerwords {
  position: relative;
  top: 35%;
  color: #969696;
  text-align: center;
  font-size: 14px;

}

.footerwords a {
  color: white;
  text-decoration: underline;
}


a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
