

nav {
  position: relative;
  height: 30px;
  background: white;
  max-width: 100%;
  font-size: 13px;
  font-family: font-family: 'Raleway', sans-serif;
}

.logo {
  position: relative;
  top: 7px;
  padding-left: 10px;
  padding-right: 28px;
  color: gray;
}

.Home{
  position: relative;
  top: 7px;
  padding-right: 28px;
  color: gray;
}

.Pricing {
  position: relative;
  top: 7px;
  padding-right: 28px;
}

.Contact {
  position: relative;
  top: 7px;
  padding-right: 28px;
  color: gray;
}

.container img{
  height: 350px;
  width: 100%;
}




.Simple {
  position: relative;
  top: -275px;
  left: 500px;
  color: white;
  font-family: font-family: 'Roboto', sans-serif;
  font-size: 40px;
  text-shadow: 1px 1px 2px black;

}

.simple p {
  position: relative;
  line-height: 10px;
  text-align: center;
  right: 500px;
  max-width: 100%;
}
.three-boxes {
  display: table;
  text-align: center;
  margin: auto;
  position: relative;
  bottom: 100px;
}

.green-box {
background: #60932E;
height: 175px;
width: 250px;
position: relative;
display: table-cell;
}

.green-box ul{
  padding-left: 0px;
}
li.p{
  text-align: center;
  width: 100%;
  font-size: 13px;
  color: white;
  letter-spacing: 3px;
  padding-top: 25px;

}

li.money{
  text-align: center;
  width: 100%;
  font-size: 80px;
  color: white;
  font-family: 'Noto Sans', sans-serif;
}

li.Per{
  text-align: center;
  width: 100%;
  color: white;
  opacity: .5;
}

.blue-box {
background: #28517A;
height: 175px;
width: 250px;
display: table-cell;
}

.blue-box ul{
  padding-left: 0px;
}

.black-box {
background: black;
height: 175px;
width: 250px;
display: table-cell;
}

.black-box ul{
  padding-left: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
